<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Catalogo de cursos</title>
  <meta name="description" content="Veras todos los cursos disponibles para que aprendas a tu tiempo">
  <meta name="keywords" content="cursos, curso, micropigmentación, micro, online, curso online">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cursos.css">
  <title>Cursos</title>
</head>
<body>
 <main class="main-courses">
   <h1>Cursos Disponibles</h1>
  <ul class="course-list">
   {{#if courses.length}}
    {{#each courses}}
      <li class="course-item" style="background-image: url('{{imgUrl}}');">
        <a href="/course/{{_id}}">+info</a>
        <h2>{{title}}</h2>
      </li>
    {{/each}}
     {{else}}
    <p>No hay cursos disponibles</p>
   {{/if}}
  </ul>
 </main>
</body>
</html>
