<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/cursos.css">
  <title>Cursos</title>
</head>
<body>
  <h1>Cursos Disponibles</h1>
  <ul class="course-list">
    {{#each courses}}
      <li class="course-item" style="background-image: url('{{imgUrl}}');">
        <a href="/course/{{_id}}">+info</a>
        <h2>{{title}}</h2>
      </li>
    {{/each}}
  </ul>
</body>
</html>
