<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="description" content="Recuperar contraseña por mail">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/forgot.css">
  <title>Recupera tu Contraseña</title>
</head>
<body class="Cont-forgot">
  <form action="/forgot-password" method="POST">
    <h2>¿Olvidaste tu contraseña?</h2>
    <label for="email">Correo Electrónico:</label>
    <input autocomplete="off" class="input-field" type="email" id="email" name="email" required>
    <button type="submit">Enviar Instrucciones de Restablecimiento</button>
  </form>
</body>
</html>
