<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Brow Army</title>
    <link rel="icon" type="image/jpeg" href="/assets/logo_tba.jpg">
    <meta name="description" content="Bienvenida a nuestra pagina web donde encontraras desde productos de micropigmentación hasta cursos online para que aprendas a tu tiempo">
    <meta name="keywords" content="ejercito de cejas, the brow army, bar de cejas, cejas, cursos, online, productos, micropigmentación, micro">
    <link rel="stylesheet" href="/css/home.css"/>
  </head>
  <body>
    <main>
      <div class="home">
        <h1>¡Bienvenido a The Brow Army!</h1>
      </div>
    </main>

  </body>
</html>