<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="descubre más sobre nosotros, desde la historia de nuestra fundadora Liz Sanchez hasta lo que hacemos y poder contactarnos">
    <meta name="keywords" content="nosotros, cejas, micropigmentación, micro, Liz Sanchez, the brow army">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nosotros.css">
    <title>Nosotros</title>
</head>
<body>
     <section class="container-liz">
      <img src="https://firebasestorage.googleapis.com/v0/b/the-brow-army.appspot.com/o/WhatsApp%20Image%202024-07-12%20at%2016.03.29.jpeg?alt=media&token=870bdd03-c467-460b-8893-d277db54954d" alt="liz-sanchez">
      <div class="container-text">
        <h1>Acerca de</h1>
        <h2>Liz Sanchez</h2>
        <p>Liz Sánchez Artista especializada en retratos. Maquiladora profesional
Master internacional en PMU 
Creadora y fundadora del Primer estudio exclusivo de Cejas en Argentina llamado Bar de cejas ( 2012) y The Brow Army con más de 15 años de experiencia y más de  50 Certificaciones internacionales con los mejores másters Internacionales.
Organizadora del Campeonato Wulop Paraguay 2024 & The Brow Army Convention.
Equipo Wulop Uruguay 2024 
Creadora de su técnica exclusiva ADHOCBrows  basada en el realismo  y desarrollada para pieles latinas 
Reconocida por cuidar las cejas de varias celebridades en Argentina. 
Con más de 23000 trabajos realizados y + 1000 alumnos formados.
Técnica : Adhobrows / Latam Hairstroke
Una metodología que combina el arte de crear, el sentido estético y la técnica de Hairstroke 
Creado del su propio método de diseño de cejas 
Análisis Consiente, que exceden los límites del las medidas estándares, logrando así diseños únicos, personalizados y anatómicos a cada rostro.</p>
        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
          <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
        </svg> CERTIFICACIÓN MUNDIALMENTE RECONOCIDA</span>
      </div>
     </section>

     <section class="estructura">
        <div class="cont-text">
          <h3>El ejercito de cejas <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" style="fill: rgba(249, 249, 249, 1);transform: ;msFilter:;"><path d="M20.205 4.791a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412L12 21.414l8.207-8.207c2.354-2.353 2.355-6.049-.002-8.416z"></path></svg></h3>
          <P>Donde tu ceja ideal se hace realidad</P>
        </div>
        <img src="https://firebasestorage.googleapis.com/v0/b/the-brow-army.appspot.com/o/IMG_6878.jpg?alt=media&token=4faeb62c-5387-41f8-a417-bab6b5ca1d24" alt="libros">
     </section>

     <section class="agenda">
      <div class="text">
        <h3>The Brow Army</h3>
        <P>The brow Army o ( el ejercito de cejas ) es el primer Salón Exclusivo & Especializado en Cejas. 
Desde 2012 nos dedicamos a la arquitectura de la mirada, entendiendo que las cejas son uno de los rasgos de alto impacto y personalidad en el rostro, creando nuestra propio método de diseño <Analisis Consiste > by Liz Sanchez 
Somos elegidos por Celebridades como Araceli Gonzalez, Jimena Baron, Loli Latorre, Lourdes Sanchez, Lali Esposito, Emilia Mernes, Sofi Morandi entre otros.
Analizamos cada ceja, encontrando el punto de equilibrio y necesidad de las mismas, pudiendo así combinar diversas técnicas, ya sea de diseño o recuperación de cejas o micropigmentación ultra natural basado en el realismo.
Recibimos más de 1000 mujeres al mes, para consultas sobre malas depilaciones, asesoramientos sobre recuperación de cejas, diseño, alopecias y mujeres post tratamientos oncológicos. 
Como Artistas de cejas logramos el equilibrio entre la moda, estilo de la clienta y la esencia de cada ceja.</P>
        <a href="#contacto" class="btn-contacto">CONTACTANOS</a>
      </div>
      <img src="https://firebasestorage.googleapis.com/v0/b/the-brow-army.appspot.com/o/WhatsApp%20Image%202024-07-22%20at%2019.02.58.jpeg?alt=media&token=936b6bfc-02d7-4df6-88a7-0a2fecfa9680" alt="">
     </section>

     <section id="contacto" class="contacto">
      <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2322.772257836433!2d-58.45091291971836!3d-34.581497241078004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb584a588cfb9%3A0x2ab7749672a47da7!2sThe%20Brow%20Army%20by%20Liz%20Sanchez!5e0!3m2!1ses-419!2sar!4v1707505794801!5m2!1ses-419!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
         <form action="/send-email" method="post" id="form">
        <div class="names">
            <input type="text" name="nombre" required placeholder="nombre">
            <input type="text" name="apellido" required placeholder="apellido">
        </div>
        <input type="text" name="profesion" required placeholder="Profesión">
        <input type="text" name="pais" required placeholder="País">
        <input type="email" name="email" required placeholder="correo electronico">
        <textarea name="descripcion" id="area" cols="10" rows="4" placeholder="descripción"></textarea>
        <button type="submit">Enviar</button>
    </form>
     </section>

      <a class="btn-wpp" target="_blank" href="https://wa.me/5491123160671?text=Hola! Me gustaría hacer una consulta sobre..."><i class="fa-brands fa-whatsapp"></i></a>
</body>
</html>