<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/nosotros.css">
    <title>Document</title>
</head>
<body>
     <section class="container-liz">
      <img src="https://firebasestorage.googleapis.com/v0/b/the-brow-army.appspot.com/o/WhatsApp%20Image%202024-07-12%20at%2016.03.29.jpeg?alt=media&token=c4c1b836-2aa8-45c1-aa18-6a35150eaf31" alt="liz-sanchez">
      <div class="container-text">
        <h1>Acerca de</h1>
        <h2>The Brow Army Academy</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti cum esse quidem illo iure quod, odio tenetur ullam quas consequatur! Ullam impedit nulla quasi aperiam quisquam veniam ut esse quos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique vel consequatur, cumque tenetur eveniet laudantium! Ullam modi placeat, ipsum dolorem eos, eaque veniam in repellat quis nisi ipsam, et officia! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt non excepturi fuga, vero totam sed debitis repellat veritatis explicabo consectetur sint tempore recusandae iste veniam nemo, qui itaque, corrupti eius? Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus eos dolor placeat ad ex quaerat adipisci, ducimus sint neque? Dolores, impedit! Repellat temporibus possimus sed qui eveniet numquam pariatur officiis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae perspiciatis, rerum temporibus id..</p>
        <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-patch-check" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0"/>
          <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
        </svg> CERTIFICACIÓN MUNDIALMENTE RECONOCIDA</span>
      </div>
     </section>
     <section class="estructura">
        <div class="cont-text">
          <h3>NUESTRA ESTRUCTURA</h3>
          <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos earum, cumque aliquam corporis illo dolore minima aspernatur quia atque perspiciatis et fuga molestiae doloribus odio expedita incidunt eum nisi doloremque. Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quos numquam voluptatem eum veniam.</P>
        </div>
        <img src="https://images.unsplash.com/photo-1596383038607-c4f20c056ec2?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="libros">
     </section>

     <section class="agenda">
      <div class="text">
        <h3>AGENDA TU PROCEDIMIENTO</h3>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis sequi voluptas harum, repudiandae ducimus aspernatur corporis voluptate sit vel veritatis repellat perspiciatis reiciendis velit magni nesciunt. Sit tenetur repudiandae tempore?Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, cumque praesentium. Deleniti cum praesentium adipisci ducimus nobis, expedita, voluptatibus numquam vel eaque culpa nihil quidem rerum iure? Quasi, explicabo quaerat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus voluptatibus, praesentium porro ducimus.</P>
        <a href="#contacto" class="btn-contacto">AGENDA AHORA</a>
      </div>
      <img src="https://firebasestorage.googleapis.com/v0/b/the-brow-army.appspot.com/o/WhatsApp%20Image%202024-07-12%20at%2015.41.33.jpeg?alt=media&token=075bf8eb-8f8a-45b2-966d-48c231d1acda" alt="">
     </section>

     <section id="contacto" class="contacto">
      <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2322.772257836433!2d-58.45091291971836!3d-34.581497241078004!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb584a588cfb9%3A0x2ab7749672a47da7!2sThe%20Brow%20Army%20by%20Liz%20Sanchez!5e0!3m2!1ses-419!2sar!4v1707505794801!5m2!1ses-419!2sar" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
         <form action="/process_form.php" method="post" id="form">
        <div class="names">
            <input type="text" name="nombre" required placeholder="nombre">
            <input type="text" name="apellido" required placeholder="apellido">
        </div>
        <input type="text" name="profesion" required placeholder="Profesión">
        <input type="text" name="pais" required placeholder="País">
        <input type="email" name="email" required placeholder="correo electronico">
        <textarea name="descripcion" id="area" cols="10" rows="4" placeholder="descripción"></textarea>
        <button type="submit">Enviar</button>
    </form>
     </section>

      <a class="btn-wpp" target="_blank" href="https://wa.me/1553382624?text=Hola! Me gustaría hacer una consulta."><i class="fa-brands fa-whatsapp"></i></a>
</body>
</html>