<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/reset-password.css">
  <title>Restablecer Contrase単a</title>
</head>
<body class="Cont-reset-password">
  <form action="/reset-password/{{token}}" method="POST">
    <h2>Restablecer Contrase単a</h2>
    <label for="newPassword">Nueva Contrase単a:</label>
    <input autocomplete="off" class="input-field" type="password" id="newPassword" name="newPassword" required>
    <button type="submit">Restablecer Contrase単a</button>
  </form>
</body>
</html>
