<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/servicios.css">
  <title>Servicios</title>
</head>
<body>
   <h1>Nuestros Servicios</h1>
  <ul class="cont-services">
    {{#each servicios}}
      <li class="service-item">
        <img src="{{imgUrl}}" alt="">
     <div class="container-card-edit">
         <a href="/service/{{_id}}">+info</a>
        <h2>{{nombre}}</h2>
     </div>
      </li>
    {{/each}}
  </ul>
  <p>*Consultar precios de micropigmentación por whatsApp*</p>
</body>
</html>