<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/videoplay.css">
    <title></title>
  </head>
  <body>
<main>
      <h1>{{title2}}</h1>

<video id="videoPlayer" controls>
  <source src="{{videoUrl}}" type="video/mp4">
  Tu navegador no soporta video HTML5.
</video>

<div class="container-volver">
    <a href="/profile" class="btn">Volver al perfil</a>
</div>
</main>

  </body>
</html>