  .home{
    display: flex;
    height: calc(100vh - 76px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1588345921523-c2dcdb7f1dcd?w=800&dpr=2&q=80");
    background-size: cover;
  }

main{
    height: 550px;
}

h1{
    color:#000;
    font-weight: 600;
    font-size: 50px;
    margin: 20px 50px;
}

h2{
    color:#000000bb;
    font-size: 16px;
    margin: 20px 50px;
    font-weight: 400;
}

footer{
  display: none;
}