@font-face {
  font-family: "magilio";
  src: url("../assets/txt/magilio_demo-webfont.woff2") format("woff2"),
    url("../assets/txt/magilio_demo-webfont.woff") format("woff");
}

.container-liz {
  display: flex;
  width: 100%;
  height: auto;
  padding: 40px 100px;
  margin: 20px auto;
}

.container-liz img {
  width: 570px;
  margin-left: 50px;
  border-radius: 71% 29% 34% 66% / 34% 39% 61% 66%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-text {
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 80px;
}

.container-text p {
  line-height: 20px;
}

.container-text h1 {
  font-size: 25px;
  margin: 0;
}

.container-text h2 {
  font-size: 30px;
  margin: 2px 0;
  color: #ef8d97;
  font-weight: 500;
}

.container-text p {
  font-size: 13px;
  margin: 20px 0;
}

.container-text span {
  font-size: 14px;
  margin: 10px 0 10px;
}

.estructura {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 288px;
  background-color: #ef8d97;
}

.cont-text {
  background-color: #ef8d97;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: center;
  align-items: center;
  padding: 80px;
  text-align: start;
}

.cont-text h3 {
  font-size: 70px;
  color: #fff;
  font-family: magilio;
}

.cont-text p {
  font-size: 25px;
  margin-top: 10px;
  color: #fff;
}

.agenda {
  display: flex;
  width: 100%;
  background-color: #fff;
  justify-content: center;
  margin: 80px 0;
}

.text {
  width: 500px;
  padding: 50px;
  color: #ef8d97;
  margin: auto 0;
}

.text h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.text p {
  font-size: 12px;
  margin: 20px 0 30px;
}

.agenda img {
  width: 450px;
  height: 500px;
  padding: 30px;
  object-fit: cover;
  border-radius: 70px;
  margin-left: 50px;
}

.agenda .btn-contacto {
  background-color: #ef8d97;
  padding: 10px 40px;
  border-radius: 10px;
  color: #fff;
  border: none;
  text-decoration: none;
}

.agenda .btn-contacto:hover {
  background-color: #b3b3b3;
  color: #fff;
}

.contacto {
  display: flex;
  width: 100%;
  justify-content: center ;
  margin: 30px auto 80px;
  border-radius: 30px;
  background-color: #ef8d97;
}

.mapa{
  width: 70%;
  height: auto;
  padding: 20px 40px;
}
.mapa iframe {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  box-shadow: 3px 3px 4px;
}

form {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  justify-content: center;
}

form input,
textarea {
  margin: 10px 0;
  border-radius: 7px;
  border: none;
  resize: none;
}

.names input{
  width: 100%;
}

form input::placeholder,
textarea::placeholder {
  padding: 10px;
  text-transform: capitalize;
}

form input:focus,
textarea:focus {
  padding-left: 3px;
}

form button {
  border-radius: 10px;
  background-color: #616161c1;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-top: 5px;
}

form button:hover {
  background-color: #ffffffcb;
  color: #000;
}

/* icon wpp */
.btn-wpp {
  width: 55px;
  display: flex;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 55px;
  line-height: 55px;
  bottom: 40px;
  right: 20px;
  background-color: #0df053;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.btn-wpp:hover {
  text-decoration: none;
  color: #0df053;
  background-color: #fff;
}


@media (max-width: 1000px) {
  .container-liz{
    padding: 20px;
    margin: 50px auto;
  }
 .container-liz img{
  width: 300px;
  height: auto;
 }
 .container-text p{
  font-size: 11px;
 }
}
.cont-text h3{
  font-size: 50px;
}
.cont-text p{
  font-size: 20px;
}
.estructura img{
  width: 250px;
  height: auto;
}
.contacto{
  width: 90%;
  padding: 0 20px;
}

@media (max-width: 720px) {
  .container-liz{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .container-liz img{
    width: 100%;
    margin:  10px auto;
    padding: 10px 30px;
  }
  .container-text{
    padding: 0;
  }
  .estructura{
    padding: 20px;
  }
  .estructura img{
    width: 150px;
    height: auto;
  }
  .cont-text{
    padding: 0;
  }
  .cont-text h3{
    font-size: 25px;
  }
  .cont-text h3 svg{
    width: 30px;
  }
  .cont-text p{
    font-size: 13px;
    width: 100%;
  }
  .agenda{
    flex-direction: column;
    align-items: center;
  }
  .agenda img{
    margin: auto;
  }
  .text{
    width: 100%;
  }
  .contacto {
    flex-direction: column;
    width: 90%; 
  }
 .mapa{
  width: 100%;
  height: auto;
  padding: 0;
  margin: 20px auto;
 }
}