.Cont-reset-password{
    height: 100vh;
display: flex;
align-items: center;
background-color: #212121;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 50px;
    color: #fff;
    background-color: #171717;
    border-radius: 25px;
    transition: .4s ease-in-out;
    width: 500px;
    margin: auto;
  }
  
  form:hover {
    transform: scale(1.05);
    border: 1px solid black;
  }
  
  form h2{
    text-align: center;
  }

  .input-field {
    border-radius: 10px;
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    color: #000000;
  }

  button {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    width: 100%;
    border: none;
    margin: 15px auto 0;
    outline: none;
    transition: .4s ease-in-out;
    background-color: #252525;
    color: white;
  }
  
  button:hover {
    background-color: black;
    color: white;
  }
  