.cont-services{
    display: flex;
    gap: 30px;
    list-style: none;
}

.cont-services li{
    width: 30%;
    height:250px ;
    border-radius: 20px;
    padding: 20px;
    margin: 20px 0;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}